# ==============================
# 🐍 Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# 🌱 Virtual Environment
# ==============================
.venv/
.venv-1/
env/
venv/

# ==============================
# 📊 Data (BIG FILES)
# ==============================
data/
*.csv

# ==============================
# 🤖 Models
# ==============================
models/
*.pkl

# ==============================
# 📁 Logs
# ==============================
logs/
*.log

# ==============================
# ⚙️ ML Artifacts
# ==============================
catboost_info/

# ==============================
# 🖥️ OS / System
# ==============================
.DS_Store
Thumbs.db

# ==============================
# 🧪 Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# 🔒 Environment Variables
# ==============================
.env